@model IEnumerable<XLJLeCommerce.Models.Product>


@{
    Layout = "_Layout";
}
<h1>VIP Products</h1>
<div class="parent">
    @foreach (var item in Model)
    {
        @if (item.VIPItem == false || item.VIPItem == true)
        {
            <div class="container">
                <img src="@item.ImageURL" alt="@item.Name" />
                <p>@item.Name</p>
                <p>@item.Description</p>
                <p>@item.Price</p>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
            </div>
        }
    }
</div>