@page

@using XLJLeCommerce.Models.Interfaces
@inject IOrder OrderInjection
@inject Iproduct ProductManagementService
@*@model XLJLeCommerce.Pages.Admin.AdminModel*@


@{
    Layout = "_Layout";
}

@{
    var lastTenOrders = await OrderInjection.GetLastTenOrder();
}
<a href="Manage">Create New Product</a>
<h2>Administrator Dashboard</h2>

<h3>Last 10 Orders from the site</h3>
<body>
    @foreach (var order in lastTenOrders)
    {
        <div>
            <p>Order #@order.ID: Total: @order.Totalprice</p>
            @foreach (var item in order.OrderedItems)
            {
                <div>
                    <p>@item.ProdQty: @item.Product.Name</p>
                </div>
            }
        </div>
    }
</body>


<h3>All items in inventory</h3>
@{
    var prods = await ProductManagementService.GetAllProducts();
}


@foreach (var p in prods)
{
    <div>
        <h3>@p.Name</h3>
        <p>@p.Sku</p>
        <img src="@p.ImageURL" alt="" />
        <p>@p.Price</p>
        <a asp-page="Productdetail" asp-route-id="@p.ID">
            <p>View Details</p>
        </a>
    </div>
}


