@model IEnumerable<XLJLeCommerce.Models.Product>

@{
    Layout = "_Layout";
}

@await Component.InvokeAsync("PickedProduct")

<h2>All Products</h2>
@*<div class="parent">*@
<div class="container">
    @foreach (var item in Model)
    {
        @if (item.VIPItem == false)
        {
            <div class="tiles">
                <div class="image">
                    <img src="@item.ImageURL" alt="@item.Name" />
                </div>
                <h4>@item.Name</h4>
                <p class="description">@item.Description</p>
                <p>@item.Price</p>
                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
            </div>
        }
    }
</div>
@*</div>*@